h1{
    background-color: turquoise;
}
h2 {
    color: indigo;
    background-color: turquoise; 
}
button {
    background-color: plum;
    color: magenta;
}
p{
    color: red;
    background-color:purple; 
}
body{
    background-image: url(top-10-worst-90s-website-designs-header.png)
}
table{
    color: red;
    background-color: purple; 
}
form{
    background-color:turquoise;
}