h1{
    
    text-align: center;
    background-color: turquoise;
    width: 500px
}
h2 {
    text-align: center;
    color: indigo;
    background-color: turquoise; 
    width: 500px;
}
button {
    background-color: plum;
    color: magenta;
}
p{
    color: red;
    background-color:black; 
    width: 500px
}
body{
    background: url(top-10-worst-90s-website-designs-header.png) center/cover;
   
}
table{
    color: red;
    background-color: black; 
}
form{
    background-color:turquoise;
    width: 500px
}
/* .class-name for class selectors
    #id-name for id selectors*\
    